{:paths ["src"]
 :deps {
        io.github.kotoba-lang/text
        {:git/url "https://github.com/kotoba-lang/text.git"
         :git/sha "73bdb13ae7a3d004b44bca08be03a3191157a38f"}
        io.github.kotoba-lang/fs-filesystem
        {:git/url "https://github.com/kotoba-lang/fs-filesystem.git"
         :git/sha "6908b7d397fe4ac84a4b8993eb60f8af4c056780"}
        io.github.kotoba-lang/fs-sep
        {:git/url "https://github.com/kotoba-lang/fs-sep.git"
         :git/sha "6595ef37fd675ec644bcb6c4302cbf5a17855322"}
        io.github.kotoba-lang/fs-split
        {:git/url "https://github.com/kotoba-lang/fs-split.git"
         :git/sha "828c362d4563f2bce08ee6fa5bc974c761b9503e"}
        io.github.kotoba-lang/fs-utf8-bytes
        {:git/url "https://github.com/kotoba-lang/fs-utf8-bytes.git"
         :git/sha "cf73be749662efc9228c4d040cae61fdf8ab4f18"}
        io.github.kotoba-lang/fs-utf8-text
        {:git/url "https://github.com/kotoba-lang/fs-utf8-text.git"
         :git/sha "d5cd6d88297a903493b5914b35005fee6afd0520"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
